@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.bannerBGImage {

    height: 100vh;
    background: url("../images/BG-1.jpg");
    background-size: cover;
    position: relative;

}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.bannerText {

    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);

    top: 30%;

    left: 50%;

    color: white;

}

.bannerTitle {

    font-size: 4rem;

}

.bannerDesc {

    font-size: 2rem;

}

.card {

    cursor: pointer;

}

.card:hover {

    background-color: rgb(112, 216, 197);

    border: 5px solid rgb(205, 50, 205);

}

.card-img-top {
    height: 50vh;
}

.bIcon {
    width: 100px;
    ;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid yellowgreen;

}

.instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.linkedin {
    color: #0077B5;
}

.linkedin::before {
    background-color: #ffffff;
    border-radius: 30px;
    border: 0;
}

.facebook {
    color: #39569c;
}

.facebook::before {
    background-color: #ffffff;
    border-radius: 40px;
    border: 0;
}